* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    /* background: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf6W0h5O9MVruj6KyUss44_AkA6SjtkM1f4A&s);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.container {
    width: 90%;
    height: 400px;
    background: #95d1d7;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.container .content h1 {
    font-size: 40px;
    display: block;
    text-transform: capitalize;
    margin-left: 40px;
    margin-top: 100px;
}

.container .content h2 {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

.container form {
    width: 90%;
    /* background: #95d1d7; */
    margin-top: 60px;
}

.container form .input_box {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container form .input_box input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.container form #email {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container form #email input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.container form .input_contact input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.container form #email {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container form .input_contact {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Styling for checkboxes */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #2e12cb;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #0888b3;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    color: #fff;
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 18px;
    line-height: 20px;
}

label {
    font-size: 16px;
    margin-left: 8px;
    color: #333;
}

div {
    margin-bottom: 10px;
}

@media screen and (max-width: 425px) {
    body {
        width: 100%;
    }

    .container {
        width: 100%;
        /* height: 200px; */
        margin-left: 0;
        margin-top: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .container form {
        width: 100%;
        margin: 0;
    }

    .container form .input_contact,
    #email,
    .input_box {
        width: 100%;
        flex-direction: column;
    }

    .container form #email {
        width: 100%;
    }

    .container form .input_box,
    .input_contact,
    #email input {
        width: 100%;
    }

    .container .content h1 {
        font-size: 26px;
        display: block;
        margin-top: 20px;
    }

    .container .content h2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: inline-flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .container form {
        width: 90%;
        margin: 0 auto;
    }
}